@charset "UTF-8";

body{
    background-color: rgb(104, 82, 61);
}

.badane{
    margin: 100px 50px 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.badane a{
    text-decoration:none;
    color: rgb(28, 26, 26);
    margin: 40px;
}

.font{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 30px;
}

.a13, .a32, .a53{
    border-radius: 5px;
    background-color: white;
    width: 20vw;
    padding: 20px;
    text-align: center;
    transition: transform 1s;
}

.a13:hover, .a32:hover, .a53:hover{
    transform: scale(1.09);
    box-shadow: rgb(196, 196, 196) 0 0 7px;
    border: 1px solid black;
}

.a13-image, .a32-image, .a53-image{
    width: 20vw;
}

.gheymat{
    display: inline;
}

.bold{
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bargasht{
    text-align: center;
    margin: 0 620px 100px;
    transition: transform 1s;
}

.bargasht:hover{
    transform: scale(1.1);
}

.bargasht a{
    text-decoration: none;
    color: rgb(103, 103, 103);
}

.back{
    border: 1px solid rgb(152, 152, 152);
    background-color: rgb(233, 231, 231);
    border-radius: 5px;
}

.back p{
    font-family: mitra;
    font-size: 25px;
    font-weight: bold;
}

@media (max-width: 480px){
    .a13, .a32, .a53{
        width: 30vw;
    }
    .a13-image, .a32-image, .a53-image{
        width: 25vw;
    }
}

@media (max-width: 1500px) {
    .bargasht{
        margin: 0px 30vw 100px;
    }
}